
          <div class="news">
            {% if site.news != blank -%}
            {%- assign news = site.news | reverse -%}
            {%- assign news_by_year = news | group_by_exp: "item", "item.date | date: '%Y'" -%}
            {%- for year in news_by_year %}
            {%- if forloop.first %}
            <!-- Most recent year: always shown -->
            <div class="table-responsive">
            {%- else %}
            <!-- Earlier years: collapsed -->
            <details class="news-year">
              <summary>{{ year.name }}<span class="news-count">({{ year.size }})</span></summary>
            <div class="table-responsive">
            {%- endif %}
              <table class="table table-sm table-borderless">
              {%- for item in year.items %}
                <tr>
                  <th scope="row">{{ item.date | date: "%b %Y" }}</th>
                  <td>
                    {% if item.inline -%}
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%}
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %}
                  </td>
                </tr>
              {%- endfor %}
              </table>
            </div>
            {%- unless forloop.first %}
            </details>
            {%- endunless %}
            {%- endfor %}
          {%- else -%}
            <p>No news so far...</p>
          {%- endif %}
          </div>
